[Desktop Entry]
Type=Application
Name=LoupVagabond
Exec=/opt/loupvagabond/proxy.sh
Icon=loupvagabond.svg
Hidden=false
NoDisplay=false
Terminal=false
Comment=open Librewolf via proxychains4 and tor 
X-GNOME-Autostart-enabled=true
